
:root {
    /* Whitespace Settings */
    --padding-small: 0.75em;
    --padding-medium: 1em;
    --padding-large: 1.5em;

    --margin-small: 0.5em;
    --margin-medium: 1em;
    --margin-large: 1.5em;

    /* Debug Color Legend */
    --debug-blue: #0CF;
    --debug-pink: #F0C;
    --debug-yellow: #FF0;
    --debug-green: #0F0;

    /* Color Legend */
    --navy: #003049;
    --red: #d62828;
    --orange: #f77f00;
    --yellow: #fcbf49;
    --cream: #eae2b7;

    --white: #ffffff;
    --black: #2a2a2a;

    /* Font Legend */
    --sans-font: "Inter Display";
    --serif-font: "Produkt";
    --fixed-font: "Noto Sans Mono";

}

.sr-only {
    position: absolute;
    left: -9999em;
    opacity: 0;
    overflow: hidden;
    top: -9999em;
}
body {
    background-color: var(--cream);
    color: var(--black);
    font-family: var(--sans-font), sans-serif;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: var(--margin-medium);
    font-family: var(--serif-font), serif;
}

.box-bordered {
    border: 1px solid var(--navy);
    padding: var(--padding-medium);
}

label {
    display: block;
    margin-top: var(--margin-medium);
}

input, textarea {
    width: 10em;
    padding: var(--padding-small);
    font-size: 1em;
    font-family: var(--fixed-font), serif;
}

.wide {
    width: 30em;
}
